/* Source: https://github.com/ecole-du-web/react-modal
    -styles a modal dialog, including its overlay and content
    -the modal itself is centered on the screen with a semi-transparent overlay in the background
*/

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}

.overlay {
    background: rgba(49,49,49,0.8);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #4b4453;
    padding: 20px 40px;
    border-radius: 3px;
    max-width: 1000px;
    min-width: 400px;
    z-index: 1001;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
}
