/* 
    https://tailwindcss.com/docs/functions-and-directives
    ignore the "Unknown at rule @tailwindcss(unknownAtRules)"
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #201e24;
    color: #ffffff;
}

.push-btn {
    position: relative;
    width: auto;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #845ec2;
    background: #845ec2;
    text-align: center;
    transition: background-color 0.1s, border-color 0.1s;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.push-btn:hover {
    background-color: #4b4453;
    border-color: #4b4453;
}

.push-btn:active {
    box-shadow: 0px 2px 0px #b0a8b9;
    position: relative;
    top: 4px;
}

.chart-container {
    display: flex;
    position: relative;
    width: 201.7%;
    height: 900px;
    background-color: #4b4453;
    margin: 0 auto;
    transform: translateX(-25.7%);
}

.bar-container {
    width: 15px;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.bar {
    position: relative;
    bottom: 0;
    width: 30px;
    height: 75%;
    background-color: #7d59b6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 10;
}

.bar-selected {
    background-color: #c34a36;
}

@media screen and (max-width: 770px) {
    .bar-container {
        margin: 0 20px;
        transform: scaleX(0.8);
    }
}

@media screen and (max-width: 450px) {
    .chart-container {
        height: 300px;
    }

    .bar-container {
        margin: 0 5px;
        transform: scaleX(0.6);
    }
}

